apiVersion: v1
kind: ConfigMap
metadata:
  name: nfs-ganesha-config
  namespace: nfs-proxy
  labels:
    app.kubernetes.io/name: nfs-proxy
    app.kubernetes.io/component: config
    app.kubernetes.io/part-of: homelab
    app.kubernetes.io/managed-by: argocd
data:
  ganesha.conf: |
    NFS_CORE_PARAM {
        NFS_Protocols = 3,4;
        Bind_addr = 0.0.0.0;
    }

    EXPORT {
        Export_Id = 1;
        Path = /data/k8s-backup;
        Pseudo = /k8s-backup;
        Access_Type = RW;
        Squash = No_Root_Squash;
        SecType = sys;
        Filesystem_id = 1.1;
        FSAL {
            Name = VFS;
        }
        CLIENT {
            Clients = 10.42.0.0/16;
            Access_Type = RW;
        }
    }
