apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-cm
  namespace: argocd
  labels:
    app.kubernetes.io/name: argocd-cm
    app.kubernetes.io/part-of: argocd
data:
  url: https://argocd.lab.axiomlayer.com
  oidc.config: |
    name: Authentik
    issuer: https://auth.lab.axiomlayer.com/application/o/argo-cd/
    clientID: iaGtb1GzmpQZ3ZpawkveUORRu5xnsyUl6hxEsXVH
    clientSecret: $oidc.authentik.clientSecret
    requestedScopes: ["openid", "profile", "email"]
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-cmd-params-cm
  namespace: argocd
  labels:
    app.kubernetes.io/name: argocd-cmd-params-cm
    app.kubernetes.io/part-of: argocd
data:
  # TLS termination at Traefik ingress, ArgoCD handles HTTP internally
  server.insecure: "true"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-rbac-cm
  namespace: argocd
  labels:
    app.kubernetes.io/name: argocd-rbac-cm
    app.kubernetes.io/part-of: argocd
data:
  policy.csv: |
    g, jasen, role:admin
  scopes: "[email]"
